.header {
  min-height: 825px;
  background-image: url(../img/background/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__container {
  padding-top: 65px;
}

.header__nav {
  margin-left: auto;
}
