.product__link {
  position: relative;
}

.product__link:hover .product__form {
  z-index: 1;
}

.product__added-favorites {
  position: absolute;
  right: 27px;
  top: 24px;
  cursor: pointer;
  border: none;

  @include vp-1023 {
    right: 10px;
    top: 15px;
  }
}

.product__favourites-icon {
  fill: none;
  stroke: #000000;
  display: block;

  &--favor {
    fill: #0077d4;
  }

  @include vp-1023 {
    width: 17px;
    height: 17px;
  }
}

.product__image {
  background-color: #f6f6f6;
  width: 100%;
}

.product__custom-radio:hover .product__title-radio {
  color: rgb(207, 51, 51);
  font-size: 16px;
}

.product__form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $second-color;
  z-index: -1;

  @include vp-767 {
    bottom: 0;
  }
}

.product__sizes-wrapper {
  padding: 0;
  border: none;

  width: 271px;
  margin: 0 auto 5px;
  text-align: center;
}

.product__radio:checked .product__title-radio {
  outline: 1px solid red;
}

.product__radio {
  appearance: none;
}

.product__title-radio {
  @include font(12px, 15px, 300, $first-color);

  cursor: pointer;
}

.size-disabled {
  color: #c4c4c4;
}

.product__button-added {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  margin: 0 auto;
  z-index: 1000;
}

.product__button-text {
  @include font(14px, 17px, 300, $first-color);
  text-transform: uppercase;

  margin-right: 5px;
}

.product__icon-button {
  display: block;
}

.product__footer {
  padding-top: 13px;
  position: relative;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding-top: 7px;
  }
}

.product__title {
  @include font(14px, 17px, 300, $first-color);
  text-transform: uppercase;
  width: 75%;
  max-width: 350px;

  margin: 0;

  @include vp-1023 {
    @include font(12px, 17px, 300, $first-color);
  }
}

.product__price-wrapper {
  display: flex;
}

.product__current-price {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.product__nosale-price {
  @include font(14px, 17px, 300, #aac4e1);
  text-decoration-line: line-through;
}

.product__marker {
  @include font(11px, 14px, 400, $first-color);
  text-transform: uppercase;

  background-color: #80bdee;
  padding: 6px 13px;
  position: absolute;
  top: 0;
  right: 0;

  @include vp-1023 {
    @include font(10px, 14px, 400, $first-color);
  }
}
